extends layout

block content
  h1 Welcome to my basic api :)
  h2 To start testing go to:
  a https://localhost:4200/api/fruits
  p or
  a https://localhost:4200/api/fruits/{any fruit}
  p (ex: /api/fruits/mango)
